body {
    background-color: #99d1cb;
}

.center {
    text-align: center;
}

#logout {
    padding-bottom: 20px;
}

img {
    position: relative;
    width: 20%;
    text-align: center;
}

.logo{
    transition: transform 0.5s ease;
}

.logo img#img-hover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s, transform .2s;
}

.logo:hover img#img-hover {
    opacity: 1;
}

.navbar {
    background-color: #e27e87;
    overflow: hidden;
    border: 4px solid #eddba5; 
    margin-left: 50px;
    margin-right: 50px;
}

.navbar a {
    border-left: 4px solid #eddba5;
    float: right;
    color: #eddba5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #eddba5;
    color: #e27e87;
}

.navbar a.split {
    float: left;
    background-color: #eddba5;
    color: #e27e87;
    border-left: 0px;
}

#navicon {
    color: #e27e87;
    display: none; 
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: 10px; 
    cursor: pointer;
    font-size: 30px; 
    z-index: 1000; 
}

@media screen and (max-width: 800px) {
    .navbar a{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .navbar{
        display: none;
    }
    #navicon{
        display: block;
    }
}

@media screen and (min-width: 601px) {
    #navicon{
        display: none;
    }
    .sidenav{
        display: none;
    }
    .content{
        transform: "translateX(0)"
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e27e87;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

.sidenav a {
    font: 15px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #eddba5;
    display: block;
    transition: 0.3s;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

.sidenav a:hover {
    color: #e27e87;
    background-color: #eddba5;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}