body {
    background-color: #99d1cb;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.center {
    text-align: center;
}

img {
    position: relative;
    width: 15%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.logo {
    transition: transform 0.5s ease;
}

.logo img#img-hover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s, transform .2s;
}

.logo:hover img#img-hover {
    opacity: 1;
}

@font-face {
    font-family: "Sugar Cream";
    src: url("/static/fonts/Sugar_Cream.otf") format("opentype");
}

.navigation {
    background-color: #e27e87;
    overflow: hidden;
    border: 4px solid #eddba5;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Sugar Cream';
}

.navigation a {
    border-left: 4px solid #eddba5;
    float: right;
    color: #eddba5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.navigation a:hover, .dropdown:hover .dropbtn {
    background-color: #eddba5;
    color: #e27e87;
}

.navigation a.split {
    float: left;
    background-color: #eddba5;
    color: #e27e87;
    border-left: 0px;
}

#navicon {
    color: #000000;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    z-index: 1000;
}

@media screen and (max-width: 900px) {
    .navigation {
        display: none;
    }

    #navicon {
        display: block;
    }

    .currency-position {
        font-size: 20px;
        width: 60px;
        height: 20px;
        border-width: 6px;
    }
}

@media screen and (max-width: 600px) {
    .navigation {
        display: none;
    }

    #navicon {
        display: block;
    }

    .currency-position {
        font-size: 15px;
        width: 40px;
        height: 15px;
    }
}

@media screen and (min-width: 601px) {
    #navicon {
        display: none;
    }

    .content {
        transform: translateX(0);
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e27e87;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    font: 15px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #eddba5;
    display: block;
    transition: 0.3s;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Sugar Cream';
    text-align: center;
    font-weight: bold;
}

.sidenav a:hover {
    color: #e27e87;
    background-color: #eddba5;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.topic,
.browse {
    flex: 1;
    min-width: calc(50% - 30px);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fbefcb;
    color: #000;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    .topic,
    .browse {
        min-width: calc(100% - 30px);
    }
}

.topic form {
    flex-grow: 1;
}

.scroll {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 220px;
}

@font-face {
    font-family: 'myFont';
    src: url("/static/fonts/Sugar_Cream.otf") format("opentype");
}

#logout-button {
    position: absolute;
    top: 35px;
    left: 20px;
}

#logout-button a {
    background-color: #e27e87;
    overflow: hidden;
    border: 4px solid #eddba5;
    color: #eddba5;
    text-align: center;
    padding: 11px 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "myFont";
    font-weight: bold;
}

#logout-button a:hover {
    background-color: #eddba5;
    color: #e27e87;
}

h1 {
    text-align: center;
    font-family: myFont;
}

.font {
    font-family: myFont;
    font-size: 28px;
}

.currency-position {
    position: absolute;
    top: 20px;
    right: 20px;
    width: auto;
    height: auto;
    padding: 3px 10px;
    border-color: #eddba5;
    border-width: 8px;
    border-style: double;
    background-color: #e27e87;
    border-radius: 50px;
    font-family: myFont;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
}

#coin {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#delete {
    margin-left: 10px;
    font-size: 18px;
    background-color: #f1959a;
    color: #f9f9f9;
}

.info {
    flex-grow: 1;
    overflow-y: auto;
    word-wrap: break-word;
}

/* dropdown */
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    color: #eddba5;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    padding: 14px 14px;
    background-color: inherit;
    font-family: 'Sugar Cream';
    border-left: 4px #eddba5 solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.profile-pic {
    width: 45px;
    margin-right: 15px;
    margin-left: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: aliceblue;
}

/* balls */
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: -1;
}

#content {
    transition: transform 0.5s ease;
}