body {
    background-color: #99d1cb;
}

.center {
    text-align: center;
}

img {
    position: relative;
    width: 15%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.logo{
    transition: transform 0.5s ease;
}

.logo img#img-hover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s, transform .2s;
}

.logo:hover img#img-hover {
    opacity: 1;
}

.navigation {
    background-color: #e27e87;
    overflow: hidden;
    border: 4px solid #eddba5;
    margin-left: 50px;
    margin-right: 50px;
}

.navigation a {
    border-left: 4px solid #eddba5;
    float: right;
    color: #eddba5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

.navigation a:hover {
    background-color: #eddba5;
    color: #e27e87;
}

.navigation a.split {
    float: left;
    background-color: #eddba5;
    color: #e27e87;
    border-left: 0px;
}

#navicon {
    color: #000000;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    z-index: 1000;
}

@media screen and (max-width: 800px) {
    .navbar a{
        font-size: 12px;
    }
    .currency-position {
        font-size: 20px;
        width: 60px;
        height: 20px;
        border-width: 6px;
    }
}

@media screen and (max-width: 600px) {
    .navbar{
        display: none;
    }
    #navicon{
        display: block;
    }
    .currency-position {
        font-size: 15px;
        width: 40px;
        height: 15px;
    }
}

@media screen and (min-width: 601px) {
    #navicon {
        display: none;
    }
    .sidenav {
        display: none;
    }
    .content {
        transform: "translateX(0)"
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e27e87;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    font: 15px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #eddba5;
    display: block;
    transition: 0.3s;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

.sidenav a:hover {
    color: #e27e87;
    background-color: #eddba5;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap; 
    padding: 20px;
}

.topic,
.browse {
    width: calc(50% - 15px); 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fbefcb;
    color: #000000;
}

@font-face {
    font-family: 'myFont';
    src: url("/static/fonts/Sugar_Cream.otf") format("opentype");
}

h1 {
    text-align: center;
    font-family: myFont;
}

.font {
    font-family: myFont;
    font-size: 28px;
}

.scroll {
    overflow-y:scroll;
    max-height: 290px;
}

.currency-position {
    position: absolute;
    top: 20px; 
    right: 20px;
    width: auto;
    height: auto; 
    padding: 3px 10px; 
    border-color: #eddba5;
    border-width: 8px;
    border-style: double;
    background-color: #e27e87;
    border-radius: 50px; 
    font-family: myFont;
    font-weight: bold;
    font-size: 25px; 
    display: flex;
    align-items: center;
}

#coin {
    width: 30px; 
    height: auto; 
    margin-right: 5px;
}

.logo.center {
    text-align: center;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#delete {
    margin-left: 10px;
    font-size: 18px;
}

.info {
    flex-grow: 1;
    overflow-y: auto;
    word-wrap: break-word;
}
