h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
}

body {
    margin-top: 70px;
}

form {
    width: 450px;
    height: 180px;
    margin: 0 auto;
    background-color: #eddba5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="text"] {
    margin-top: 20px;
}

form input[type="submit"] {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    background-color: #e27e87;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #eda5ab;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
