h1 {
    text-transform: uppercase;
    font-family: 'Sugar Cream';
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    margin-top: 5px;
    text-align: center;
}

body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

form {
    width: 100%;
    background-color: #eddba5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"],
form input[type="number"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    font-family: 'Sugar Cream';
    font-size: 22px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    background-color: #e27e87;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #eda5ab;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

.password-container {
    position: relative;
    width: 00px;
    margin-bottom: 20px;
}

.password-container input {
    width: 300px;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2em;
}