.quantity{
    padding-top: -10px;
}

.item-box{
    background-color: #eee5c8;  
    box-shadow: 0 0 10px 12px #eee5c8;
    border-radius: 10px;
    margin: 30px 30px;
    padding-bottom: 10px;
}

#profile-display {
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex; 
    align-items: center;
    flex-direction: column; 
    justify-content: center; 
    position: relative;
}

#profile-display button {
    margin: 10px; 
    height: 80px;
    width: 200px; 
}

.back-button {
    position: absolute; 
    top: 2px; 
    left: -108px; 
    z-index: 999; 
    cursor: pointer; 
    width: 300px !important;
}

.delete-button {
    position: absolute; 
    top: 10px; 
    right: -70px; 
    z-index: 999; 
    cursor: pointer; 
    width: 300px !important;
}

.delete-item-button {
    font-size: 25px;
    background-color: #f1959a;
    color: #f9f9f9;
    border-radius: 10px;
    height: 30px !important;
    width: 100px !important;
    font-family:'Sugar Cream';
}

.delete-item-button:hover{
    cursor: pointer;
}

#photobooth-btn {
    width: 20px !important;
    height: auto;
    padding: 0px 30px !important;
}

.button-container {
    display: flex;
    justify-content: center; 
}

#custom-btn {
    font-size: 28px; 
    width: 110px;
    height: 30px;
}

#pfp-btn {
    font-size: 28px; 
    width: 139px;
    height: 30px;
}

#photobooth-btn img {
    width: 40px;
    padding-left: 5px;
}

#photobooth-btn {
    width: 10px;
    height: 53px;
    margin-top: 5px;
}

.item-box p{
    margin-top: -15px;
}

#share-buttons{
    margin-top: -23px;
}

.gender-label {
    margin-left: 15%;
    position: absolute;
    border-radius: 200%;
    width: 20px;
    padding: 5px;
    font-size: 16px;
}

#label-male{
    background-color: #8b99b2;
    color: #fff;
}

#label-female{
    background-color: #e89097;
    color: #fff;
}

.popup {
    display: none; 
    position: fixed; 
    z-index: 1001; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.release-confirm {
    background-color: #fefefe;
    margin: 8% auto; 
    padding: 70px;
    border: 5px solid #c8980a;
    border-radius: 60px;
    width: 30%; 
    font-family:'Sugar Cream';
}

.release-confirm img{
    margin-top: -20px !important;
    margin-bottom: 10px !important;
}

.delete-confirm {
    background-color: #fefefe;
    margin: 8% auto; 
    padding: 70px;
    border: 5px solid #c8980a;
    border-radius: 60px;
    width: 30%; 
    font-family:'Sugar Cream';
}

.delete-confirm img{
    margin-top: -20px !important;
    margin-bottom: 10px !important;
}

button {
    font-size: 20px;
    cursor: pointer;
}

button p{
    font-size: 20px;
    margin-bottom: 20px;
}

.yes-no{
    margin: 10px 20px;
    font-family:'Sugar Cream';
    border-radius: 10px;
    padding: 10px;
    width: 70px;
    color: #fffffe;
    border: none;
}

#yesButton {
    background-color: #7ee27e;
}

#yesButton:hover {
    background-color: #336b33;
}

#noButton {
    background-color: #e27e87;
}

#noButton:hover {
    background-color: #a14c53;
}

#yes-item {
    background-color: #7ee27e;
}

#yes-item:hover {
    background-color: #336b33;
}