body {
    background-color: #99d1cb;
    text-align: center;
}

img {
    position: relative;
    width: 20%;
    text-align: center;
}

@font-face {
    font-family: "Sugar Cream";
    src: url("/static/fonts/Sugar_Cream.otf") format("opentype");
}

.currency-position {
    position: absolute;
    top: 1px;
    right: 20px;
    width: 90px;
    height: 30px;
    padding:10px;
    border-color: #eddba5;
    border-width: 8px;
    border-style:double;
    background-color: #e27e87;
    border-radius: 50px;
    font-family: 'Sugar Cream';
}

.minigame-contents {
    background: white;
    height: 56vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
}

.minigame-contents img {
    width:50%;
    height:100%;
    border-radius: 5%;
}

.minigame-contents img:hover {
    border: 5px solid #e27e87;
}

.minigame-player {
    background: white;
    height: 520px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
}

#canvas1 {
    width: 800px;
    height: 500px;
    border: 4px solid black;
}

.logo{
    transition: transform 0.5s ease;
}

.logo img#img-hover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s, transform .2s;
}

.logo:hover img#img-hover {
    opacity: 1;
}

.navbar {
    background-color: #e27e87;
    overflow: hidden;
    border: 4px solid #eddba5; 
    margin-left: 50px;
    margin-right: 50px;
}

.navbar a {
    border-left: 4px solid #eddba5;
    float: right;
    color: #eddba5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #eddba5;
    color: #e27e87;
}

.navbar a.split {
    float: left;
    background-color: #eddba5;
    color: #e27e87;
    border-left: 0px;
}

#navicon {
    color: #e27e87;
    display: none; 
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: 10px; 
    cursor: pointer;
    font-size: 30px; 
    z-index: 1000; 
}

@media screen and (max-width: 800px) {
    .navbar a{
        font-size: 12px;
    }
    .currency-position {
        font-size: 20px;
        width: 60px;
        height: 20px;
        border-width: 6px;
    }
}

@media screen and (max-width: 600px) {
    .navbar{
        display: none;
    }
    #navicon{
        display: block;
    }
    .currency-position {
        font-size: 15px;
        width: 40px;
        height: 15px;
    }
}

@media screen and (min-width: 601px) {
    #navicon{
        display: none;
    }
    .sidenav{
        display: none;
    }
    .content{
        transform: "translateX(0)"
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e27e87;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

.sidenav a {
    font: 15px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #eddba5;
    display: block;
    transition: 0.3s;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

.sidenav a:hover {
    color: #e27e87;
    background-color: #eddba5;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#content {
    transition: transform 0.5s ease;
    padding: 16px;
}

.container {
    background: #fffffe;
    height: 56vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 36px;
    margin-right: 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (4, 1fr);
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.container div {
    background: #fbefcb;
    padding: 10px;
}

.content-large {
    background: #fbefcb;
    padding: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

ul.no-bullets {
    list-style-type: none;
    margin-bottom: -30px;
    padding: 0;
}

#content-2 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}