body {
    background-color: #99d1cb;
}

.center {
    text-align: center;
}

img {
    position: relative;
    width: 15%;
    text-align: center;
    margin-top: 20px;
}

.logo{
    transition: transform 0.5s ease;
}

.logo img#img-hover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s, transform .2s;
}

.logo:hover img#img-hover {
    opacity: 1;
}

.container {
    margin-top: 30px;
    width: 55%;
}

button {
    margin-bottom: 20px;
}

#back {
    position: absolute;
    top: 30px;
    right: 20px;
}

#back a {
    background-color: #e27e87;
    overflow: hidden;
    border: 4px solid #eddba5;
    color: #eddba5;
    text-align: center;
    padding: 11px 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

#back a:hover {
    background-color: #eddba5;
    color: #e27e87;
}

@font-face {
    font-family: myFont;
    src: url("/static/fonts/Sugar_Cream.otf") format("opentype");
}

.font {
    font-family: myFont;
    font-size: 28px;
}

.d-flex {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#delete {
    margin-left: 10px;
    font-size: 18px;
}

.info {
    flex-grow: 5;
    overflow-y: hidden; 
    word-wrap: break-word;
}

.small {
    white-space: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
