<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adopt.css') }}"> 
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/Lamocoins.png') }}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/settings.js')}}"></script>
    <script src="{{url_for('static', filename='js/adopt.js')}}"></script>
    <title>Adopt</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{{url_for('static', filename='js/background_balls.js')}}"></script>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Still.png') }}" id="img-still" width="60%">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Hover.png') }}" id="img-hover" width="60%">
    </div>
    <h2 class="currency-position" data-currency="{{ current_user.currency_balance }}">
        <img src="{{ url_for('static', filename='assets/Lamocoins.png') }}" id="coin">
        {{ current_user.currency_balance }}
    </h2>
    <nav>
        <span id="navicon" onclick="openNav()">&#9776</span>
        <div id="mainnav" class="navbar">
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a id="setting-tab" onclick="openPopup()" style="padding:5px; padding-left: 10px; padding-right: 10px;"><img src="{{ url_for('static', filename='assets/thumbnails/settings-icon.png') }}" style="width:34px; height:34px; margin:0;"></a>
            <a href="{{url_for('forums')}}">Chat</a>
            <a href="{{url_for('gifting')}}">Gift</a>
            <a href="{{url_for('store')}}">Buy Apparels</a>
            <a href="{{url_for('adopt')}}">Adopt Pets</a>
            <a href="{{url_for('minigames')}}">Earn Coins</a>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
        <div id="sidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('profile')}}">Profile</a>
            <a href="{{url_for('minigames')}}">Earn Coins</a>
            <a href="{{url_for('adopt')}}">Adopt Pets</a>
            <a href="{{url_for('store')}}">Buy Apparels</a>
            <a href="{{url_for('gifting')}}">Gift</a>
            <a href="{{url_for('forums')}}">Chat</a>
            <a id="setting-tab2" onclick="openPopup()">Settings</a>
        </div>
    </nav>
    <div class="popup-overlay" id="popupOverlay">
        <div class="popup-settings" id="popup-settings">
            <span class="close" id="closePopup">&times;</span>
            <div class="popup-content">
                <div class="center" id="logout-button">
                    <a href="{{ url_for('logout') }}"><div>Logout</div></a>
                </div>
                <div class="center" id="delete-account">
                    <a href="javascript:void(0);" onclick="confirmDeleteAccount()"><div>Delete Account</div></a>
                </div>
                <div class="center" id="change-password">
                    <a href="{{ url_for('change_password') }}"><div>Change Password</div></a>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container-adopt" style="height:550px; border-radius: 10px;">
            <center><a class="button-53 button-a" style="margin:30px;">ADOPT PETS!</a></center>
            <div class="nav-adopt">
                <a href="#adopt-aquana">Aquana</a>
                <a href="#adopt-trotter">Trotter</a>
                <a href="#adopt-jackaloaf">Jackaloaf</a>
            </div>

            {% for pet in pets %}
                {% if pet.species.startswith("A") %}
                    <div class="adopt font" id="adopt-aquana">
                        <div class="item" id="{{ pet.species }}">
                            <img src="{{pet.egg_image_url}}">
                            <p class="item_name" style="font-size: 27px;">{{ pet.name }}</p>
                            <button class="price-adopt" data-name="{{ pet.name }}" data-price="{{ pet.price }}">${{ pet.price }}</button>
                        </div>
                    </div>
                {% elif pet.species.startswith("J") %}
                    <div class="adopt font" id="adopt-jackaloaf">
                        <div class="item" id="{{ pet.species }}">
                            <img src="{{pet.egg_image_url}}">
                            <p class="item_name" style="font-size: 27px;">{{ pet.name }}</p>
                            <button class="price-adopt" data-name="{{ pet.name }}" data-price="{{ pet.price }}">${{ pet.price }}</button>
                        </div>
                    </div>
                {% elif pet.species.startswith("T") %}
                    <div class="adopt font" id="adopt-trotter">
                        <div class="item" id="{{ pet.species }}">
                            <img src="{{pet.egg_image_url}}">
                            <p class="item_name" style="font-size: 27px;">{{ pet.name }}</p>
                            <button class="price-adopt" data-name="{{ pet.name }}" data-price="{{ pet.price }}">${{ pet.price }}</button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <div id="share-buttons" style="padding-top:10px;">
            <!-- facebook -->
            <a class="facebook" target="blank"><i class="fab fa-facebook"></i></a>
            <!-- twitter -->
            <a class="twitter" target="blank"><i class="fab fa-twitter"></i></a>
            <!-- linkedin -->
            <a class="linkedin" target="blank"><i class="fab fa-linkedin"></i></a>
            <!-- whatsapp-->
            <a class="whatsapp" target="blank"><i class="fab fa-whatsapp"></i></a>
            <!-- telegram-->
            <a class="telegram" target="blank"><i class="fab fa-telegram"></i></a>
        </div>
    </div>

    <div id="purchase-adopt" class="popup">
        <div class="purchase-confirm">
            <p id="confirm-text-adopt" class="font" style="font-size: 32px;">Would you like to buy this pet?</p>
            <img id="purchase-egg-img" src="" alt="Pet Egg Image" style="width: auto; height: 150px;">
            <br>
            <button id="yesButton" class="yes-no">Yes</button>
            <button id="noButton" class="yes-no" onclick="closeModalAdopt()">No</button>
        </div>
    </div>

    <div id="name-adopt" class="popup">
        <div class="name-confirm">
            <p id="name-text-adopt" class="font" style="font-size: 32px;">Name your pet!</p>
            <img id="name-egg-img" src="" alt="Pet Egg Image" style="width: auto; height: 150px;">
            <br>
            <input type="text" id="pet-name-input" class="font" style="font-size: 24px;" minlength="4" maxlength="20" required>
            <button id="confirmNameButton" class="yes-no">Confirm</button>
        </div>
    </div>
    <script>
        const link = 'https://4l35h4.pythonanywhere.com/';
        const msg = encodeURIComponent('Hey, I found this cool website you should try out!');
        const title = encodeURIComponent('Lamopets');

        const fb = document.querySelector('.facebook');
        fb.href = `https://www.facebook.com/share.php?u=${link}`;
        const twitter = document.querySelector('.twitter');
        twitter.href = `http://twitter.com/share?&url=${link}&text=${msg}&hashtags=javascript,programming`;
        const linkedIn = document.querySelector('.linkedin');
        linkedIn.href = `https://www.linkedin.com/sharing/share-offsite/?url=${link}`;
        const whatsapp = document.querySelector('.whatsapp');
        whatsapp.href = `https://api.whatsapp.com/send?text=${msg}: ${link}`;
        const telegram = document.querySelector('.telegram');
        telegram.href = `https://telegram.me/share/url?url=${link}&text=${msg}`;
    </script>
</body>
</html>