<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/join.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/Lamocoins.png') }}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <title>Change Password</title>
</head>
<body class="login">
<section>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Still.png') }}" id="img-still" width="60%">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Hover.png') }}" id="img-hover" width="60%">
    </div>

    <div class="join">
        <h1>Change Password</h1>
        <form method="POST" action="{{ url_for('change_password') }}">
            {{ form.hidden_tag() }}
            <div class="password-container">
                {{ form.old_password(class="form-control", id="old_password") }}
                <span class="toggle-password" onclick="togglePassword('old_password')">&#x1F441;</span>
            </div>
            <div class="password-container">
                {{ form.new_password(class="form-control", id="new_password") }}
                <span class="toggle-password" onclick="togglePassword('new_password')">&#x1F441;</span>
            </div>
            <div class="password-container">
                {{ form.confirm_new_password(class="form-control", id="confirm_new_password") }}
                <span class="toggle-password" onclick="togglePassword('confirm_new_password')">&#x1F441;</span>
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
        <a href="{{url_for('profile')}}">Back to Profile</a>
    </div>
    <div class='air air1'></div>
    <div class='air air2'></div>
    <div class='air air3'></div>
    <div class='air air4'></div>

    <script>
        function showAlert(message, type) {
            alert(message);
            if (type === 'success') {
                window.location.href = "{{ url_for('profile') }}";
            }
        }

        {% if message %}
            showAlert("{{ message }}", "{{ message_type }}");
        {% endif %}

        function togglePassword(fieldId) {
            var passwordField = document.getElementById(fieldId);
            var fieldType = passwordField.getAttribute("type");
            if (fieldType === "password") {
                passwordField.setAttribute("type", "text");
            } else {
                passwordField.setAttribute("type", "password");
            }
        }
    </script>
</section>
</body>
</html>