<div class="d-flex text-body-secondary pt-3">
    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between info">
            <p class="lh-sm info">
                <strong class="text-gray-dark">@{{ comment.username }}</strong><br>
                {{ comment.text }}
            </p>
            <div>
                {% if comment.replies|length > 0 %}
                    <a class= "replies" data-bs-toggle="collapse" data-bs-target="#replies-{{ comment.id }}" aria-expanded="false" aria-controls="replies-{{ comment.id }}">
                        {{ comment.replies|length }} Replies
                    </a>
                {% endif %}
                <button type="button" class="reply-button" id="reply-{{ comment.id }}" onclick="setParentId({{ comment.id }})">Reply</button>
                {% if comment.username == current_user.username %}
                    <form id="delete-form-{{ comment.id }}" action="{{ url_for('delete_comment', id=comment.id) }}" method="post" style="display: inline;">
                        <button type="button" class="delete-button" id="delete" onclick="confirmDeleteComment({{ comment.id }})">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="collapse" id="replies-{{ comment.id }}">
            <div class="ms-3 mt-2">
                {% for reply in comment.replies %}
                    {% with comment=reply %}
                        {% include 'comment.html' %}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
