<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forums.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/Lamocoins.png') }}">
    <script src="{{url_for('static', filename='js/forums.js')}}"></script>
    <script src="{{url_for('static', filename='js/settings.js')}}"></script>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{{url_for('static', filename='js/background_balls.js')}}"></script>
    <div class="logo center">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Still.png') }}" id="img-still" width="60%">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Hover.png') }}" id="img-hover" width="60%">
    </div>
    <h2 class="currency-position">
        <img src="{{ url_for('static', filename='assets/Lamocoins.png') }}" id="coin">
        {{ current_user.currency_balance }}
    </h2>

    <div>
        <span id="navicon" onclick="openNav()">&#9776;</span>
        <div id="navigation" class="navigation">
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a id="setting-tab" onclick="openPopup()" style="padding:9.5px; padding-left: 10px; padding-right: 10px;"><img src="{{ url_for('static', filename='assets/thumbnails/settings-icon.png') }}" style="width:34px; height:34px; margin:0;"></a>
            <a href="{{url_for('forums')}}">Chat</a>
            <a href="{{url_for('gifting')}}">Gift</a>
            <a href="{{url_for('store')}}">Buy Apparels</a>
            <a href="{{url_for('adopt')}}">Adopt Pets</a>
            <a href="{{url_for('minigames')}}">Earn Coins</a>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
        <div id="sidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('profile')}}">Profile</a>
            <a href="{{url_for('minigames')}}">Earn Coins</a>
            <a href="{{url_for('adopt')}}">Adopt Pets</a>
            <a href="{{url_for('store')}}">Buy Apparels</a>
            <a href="{{url_for('gifting')}}">Gift</a>
            <a href="{{url_for('forums')}}">Chat</a>
        </div>
    </div>
    <div class="popup-overlay" id="popupOverlay">
        <div class="popup-settings" id="popup-settings">
            <span class="close" id="closePopup">&times;</span>
            <div class="popup-content">
                <div class="center" id="logout-button">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
                <div class="center" id="delete-account">
                    <a href="javascript:void(0);" onclick="confirmDeleteAccount()">Delete Account</a>
                </div>
                <div class="center" id="change-password">
                    <a href="{{ url_for('change_password') }}">Change Password</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="content">
        <div class="topic">
            <h1 class="fs-0 text my-2">Add a Topic</h1>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form action="/forums" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label font">Title</label><br>
                    <input type="text" name="title" class="form-control my-0" id="title" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label font">Start Chat</label><br>
                    <textarea class="form-control my-0" id="description" name="description" rows="3" cols="73"></textarea>
                </div>
                <button type="submit" class="my-2 fs-5 btn btn-primary font">Send</button>
            </form>
        </div>
        <div class="browse">
            <h1 class="my-2 fs-0 text">Join Chats!</h1>
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h6 class="border-bottom pb-2 mb-0 font">Browse Topics</h6>
                <div class="scroll">
                    {% for item in topics %}
                    <div class="d-flex text-body-secondary pt-3">
                        {% if profile_pics[item.username] %}
                            <img src="data:image/png;base64,{{ profile_pics[item.username] }}" alt="Profile Picture" class="profile-pic">
                        {% endif %}
                        <p class="pb-3 mb-0 small lh-sm border-bottom info">
                            <strong class="text-gray-dark">@{{ item.username }}</strong><br>
                            <strong class="text-gray-dark"> <a href="/topic/{{ item.id }}">{{ item.title }}</a></strong><br>
                            {{ item.description }}
                        </p>
                        {% if item.username == current_user.username or current_user.moderator == 'yes' %}
                        <form class="delete" id="delete-form-{{ item.id }}" action="{{ url_for('delete_topic', id=item.id) }}" method="post">
                            <button type="button" class="font" id="delete" onclick="confirmDeleteTopic({{ item.id }})">Delete</button>
                        </form>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <center>
    <div id="share-buttons" style="margin-top: -15px;">
        <!-- facebook -->
        <a class="facebook" target="blank"><i class="fab fa-facebook"></i></a>
        <!-- twitter -->
        <a class="twitter" target="blank"><i class="fab fa-twitter"></i></a>
        <!-- linkedin -->
        <a class="linkedin" target="blank"><i class="fab fa-linkedin"></i></a>
        <!-- whatsapp-->
        <a class="whatsapp" target="blank"><i class="fab fa-whatsapp"></i></a>
        <!-- telegram-->
        <a class="telegram" target="blank"><i class="fab fa-telegram"></i></a>
    </div>
    </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        function confirmDeleteTopic(topicId) {
            if (confirm("Are you sure you want to delete this topic?")) {
                document.getElementById('delete-form-' + topicId).submit();
            }
        }
    </script>
    <script>
        let myWindow;
        function openWin() {
            myWindow = window.open("{{url_for('minigamesfeedingtime')}}", "width=900, height=800", "popup");
            myWindow.resizeTo(300, 300);
        }

        const link = 'https://4l35h4.pythonanywhere.com/';
        const msg = encodeURIComponent('Hey, I found this cool website you should try out!');
        const title = encodeURIComponent('Lamopets');

        const fb = document.querySelector('.facebook');
        fb.href = `https://www.facebook.com/share.php?u=${link}`;
        const twitter = document.querySelector('.twitter');
        twitter.href = `http://twitter.com/share?&url=${link}&text=${msg}&hashtags=javascript,programming`;
        const linkedIn = document.querySelector('.linkedin');
        linkedIn.href = `https://www.linkedin.com/sharing/share-offsite/?url=${link}`;
        const whatsapp = document.querySelector('.whatsapp');
        whatsapp.href = `https://api.whatsapp.com/send?text=${msg}: ${link}`;
        const telegram = document.querySelector('.telegram');
        telegram.href = `https://telegram.me/share/url?url=${link}&text=${msg}`;
    </script>
    <script src="{{url_for('static', filename='js/forums.js')}}"></script>
</body>
</html>