<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/Lamocoins.png') }}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <title>Gifting</title>
</head>
<body>
    <script src="{{url_for('static', filename='js/background_balls.js')}}"></script>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Still.png') }}" id="img-still" width="60%">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Hover.png') }}" id="img-hover" width="60%">
    </div>

    <div class="center" id="logout-button">
        <a href="{{url_for('logout')}}">Logout</a>
    </div>

    <h2 class="currency-position">
        <img src="{{ url_for('static', filename='assets/Lamocoins.png') }}" id="coin">
        {{ current_user.currency_balance }}
    </h2>
    <nav>
        <span id="navicon" onclick="openNav()">&#9776</span>
        <div id="mainnav" class="navbar">
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('forums')}}">Chat</a>
            <a href="{{url_for('adopt')}}">Adopt Pets</a>
            <a href="{{url_for('minigames')}}">Earn Coins</a>
            <a href="{{url_for('store')}}">Buy Apparels</a>
            <a href="{{url_for('gifting')}}">Gifting</a>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
        <div id="sidenav" class="sidenav">    
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('forums')}}">Chat</a>
            <a href="{{url_for('adopt')}}">Adopt Pets</a>
            <a href="{{url_for('minigames')}}">Earn Coins</a>
            <a href="{{url_for('store')}}">Buy Apparels</a>
            <a href="{{url_for('gifting')}}">Gifting</a>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
    </nav>
    <br>
    <div class="gifting-contents">
        <h1>Feeling generous?</h1>
        <h2>Well, feel free to gift some of your wares to your friends!</h2>
        <img src="{{ url_for('static', filename='assets/gifted-trotter.png') }}">
        <div class="row">
            <form id="gifting-form" method="POST" action="" class="gifting">
                {{ form.username }}
                {{ form.currency }}
                {{ form.submit }}
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
    <div id="message-container"></div>

    <script>
        document.getElementById('gifting-form').addEventListener('submit', function(event) {
            event.preventDefault();
            
            const formData = new FormData(this);
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ url_for("gifting") }}', true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

            xhr.onload = function() {
                if (xhr.status >= 200 && xhr.status < 400) {
                    const response = JSON.parse(xhr.responseText);
                    alert(response.message); // Display the alert with the message from the server
                } else {
                    alert('An error occurred. Please try again.');
                }
            };

            xhr.onerror = function() {
                alert('An error occurred. Please try again.');
            };

            xhr.send(formData);
            
        });
    </script>
</body>
</html>
