<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/Lamocoins.png') }}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/settings.js')}}"></script>
    <title>Gifting</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{{url_for('static', filename='js/background_balls.js')}}"></script>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Still.png') }}" id="img-still" width="60%">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Hover.png') }}" id="img-hover" width="60%">
    </div>
    <h2 class="currency-position">
        <img src="{{ url_for('static', filename='assets/Lamocoins.png') }}" id="coin">
        {{ current_user.currency_balance }}
    </h2>
    <nav>
        <span id="navicon" onclick="openNav()">&#9776</span>
        <div id="mainnav" class="navbar">
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a id="setting-tab" onclick="openPopup()" style="padding:5px; padding-left: 10px; padding-right: 10px;"><img src="{{ url_for('static', filename='assets/thumbnails/settings-icon.png') }}" style="width:34px; height:34px; margin:0;"></a>
            <a href="{{url_for('forums')}}">Chat</a>
            <a href="{{url_for('gifting')}}">Gift</a>
            <a href="{{url_for('store')}}">Buy Apparels</a>
            <a href="{{url_for('adopt')}}">Adopt Pets</a>
            <a href="{{url_for('minigames')}}">Earn Coins</a>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
        <div id="sidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('profile')}}">Profile</a>
            <a href="{{url_for('minigames')}}">Earn Coins</a>
            <a href="{{url_for('adopt')}}">Adopt Pets</a>
            <a href="{{url_for('store')}}">Buy Apparels</a>
            <a href="{{url_for('gifting')}}">Gift</a>
            <a href="{{url_for('forums')}}">Chat</a>
            <a id="setting-tab2" onclick="openPopup()">Settings</a>
        </div>
    </nav>
    <br>
    <div id="content">
        <div class="gifting-contents">
            <h1>Feeling generous?</h1>
            <h2>Well, feel free to gift some of your wares to your friends!</h2>
            <img src="{{ url_for('static', filename='assets/gifted-trotter.png') }}">
            <div class="row">
                <form id="gifting-form" method="POST" action="" class="gifting">
                    {{ form.username }}
                    {{ form.currency }}
                    {{ form.submit }}
                    {{ form.csrf_token }}
                </form>
            </div>
        </div>
        <div id="message-container"></div>
    </div>
    <br>
    <div id="share-buttons" style="margin-top: -15px;">
        <!-- facebook -->
        <a class="facebook" target="blank"><i class="fab fa-facebook"></i></a>
        <!-- twitter -->
        <a class="twitter" target="blank"><i class="fab fa-twitter"></i></a>
        <!-- linkedin -->
        <a class="linkedin" target="blank"><i class="fab fa-linkedin"></i></a>
        <!-- whatsapp-->
        <a class="whatsapp" target="blank"><i class="fab fa-whatsapp"></i></a>
        <!-- telegram-->
        <a class="telegram" target="blank"><i class="fab fa-telegram"></i></a>
    </div>

    <script>
        const link = 'https://4l35h4.pythonanywhere.com/';
        const msg = encodeURIComponent('Hey, I found this cool website you should try out!');
        const title = encodeURIComponent('Lamopets');

        const fb = document.querySelector('.facebook');
        fb.href = `https://www.facebook.com/share.php?u=${link}`;
        const twitter = document.querySelector('.twitter');
        twitter.href = `http://twitter.com/share?&url=${link}&text=${msg}&hashtags=javascript,programming`;
        const linkedIn = document.querySelector('.linkedin');
        linkedIn.href = `https://www.linkedin.com/sharing/share-offsite/?url=${link}`;
        const whatsapp = document.querySelector('.whatsapp');
        whatsapp.href = `https://api.whatsapp.com/send?text=${msg}: ${link}`;
        const telegram = document.querySelector('.telegram');
        telegram.href = `https://telegram.me/share/url?url=${link}&text=${msg}`;
    </script>

    <script>
        document.getElementById('gifting-form').addEventListener('submit', function(event) {
            event.preventDefault();
            
            const formData = new FormData(this);
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ url_for("gifting") }}', true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

            xhr.onload = function() {
                if (xhr.status >= 200 && xhr.status < 400) {
                    const response = JSON.parse(xhr.responseText);
                    alert(response.message); // Display the alert with the message from the server
                } else {
                    alert('An error occurred. Please try again.');
                }
            };

            xhr.onerror = function() {
                alert('An error occurred. Please try again.');
            };

            xhr.send(formData);
            
        });
    </script>
</body>
</html>
