<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> 
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>

    <a href="{{url_for('register')}}">Don't have an account? Sign Up</a>
</body>
</html>