<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/Lamocoins.png') }}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <title>Mini Games</title>
</head>
<body onkeydown="getKeyAndMove(event)">
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Still.png') }}" id="img-still" width="60%">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Hover.png') }}" id="img-hover" width="60%">
    </div>

    <h2 class="currency-position">
        <img src="{{ url_for('static', filename='assets/Lamocoins.png') }}">
        {{ current_user.currency_balance }}
    </h2>

    <nav>
        <span id="navicon" onclick="openNav()">&#9776</span>
        <div id="mainnav" class="navbar">
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('forums')}}">Forums</a>
            <a href="{{url_for('adopt')}}">Adopt</a>
            <a href="{{url_for('minigames')}}">Mini Games</a>
            <a href="{{url_for('store')}}">Store</a>
            <div class="dropdown">
                <button class="dropbtn">Knicks & Knacks
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{url_for('gifting')}}">Gifting</a>
                </div>
            </div>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
        <div id="sidenav" class="sidenav">    
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('forums')}}">Forums</a>
            <a href="{{url_for('adopt')}}">Adopt</a>
            <a href="{{url_for('minigames')}}">Mini Games</a>
            <a href="{{url_for('store')}}">Store</a>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
    </nav>
    <br>
    <div class="minigame-player">
        <canvas id="canvas1"></canvas>
        <script src="{{url_for('static', filename='js/feeding_time.js')}}"></script>
    </div>
</body>
</html>