<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/Lamocoins.png') }}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <title>Store</title>
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Still.png') }}" id="img-still" width="60%">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Hover.png') }}" id="img-hover" width="60%">
    </div>

    <h2 class="currency-position">
        <img src="{{ url_for('static', filename='assets/Lamocoins.png') }}" id="coin">
        {{ current_user.currency_balance }}
    </h2>

    <nav>
        <span id="navicon" onclick="openNav()">&#9776</span>
        <div id="mainnav" class="navbar">
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('forums')}}">Chats</a>
            <a href="{{url_for('adopt')}}">Adopt</a>
            <a href="{{url_for('minigames')}}">Mini Games</a>
            <a href="{{url_for('store')}}">Store</a>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
        <div id="sidenav" class="sidenav">    
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('forums')}}">Chats</a>
            <a href="{{url_for('adopt')}}">Adopt</a>
            <a href="{{url_for('minigames')}}">Mini Games</a>
            <a href="{{url_for('store')}}">Store</a>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
    </nav>
    <div id="content">
        <div class="container-store">
            <h1 style="text-align: center;">Store</h1>
            <div class="nav-store">
                <a href="#store-head">Head</a>
                <a href="#store-upperb">Upper Body</a>
                <a href="#store-lowerb">Lower Body</a>
                <a href="#store-feet">Feet</a>
                <a href="#store-misc">Misc</a>
            </div>

            {% for base_id, group in grouped_items.items() %}
                {% if group[0].base_id.startswith("H") %}
                <div class="store" id="store-head">
                    <div class="item">
                        <img src="{{ group[0].thumbnail_url }}" id="{{ group[0].base_id }}" style="filter: {{ group[0].filter_colour }};">
                        <div>
                            {% for item_in_group in group %}
                                <button class="colour-options" style="background-color: {{ item_in_group.colour }}" id="{{ item_in_group.id }}" data-filter="{{ item_in_group.filter_colour }}" data-price="{{ item_in_group.price }}"></button>
                            {% endfor %}
                        </div>
                        {% for item_in_group in group %}
                            <button class="price" id="price-{{ item_in_group.id }}" data-thumbnail="{{ item_in_group.thumbnail_url }}" data-price="{{ item_in_group.price }}" style="display: none;">${{ item_in_group.price }}</button>
                        {% endfor %}
                        <button class="price" id="active-price" data-price="{{ group[0].price }}"> ${{ group[0].price }} </button>
                    </div>
                </div>
                {% endif %}

                {% if group[0].base_id.startswith("U") %}
                <div class="store" id="store-upperb">
                </div>
                {% endif %}

                {% if group[0].base_id.startswith("L") %}
                <div class="store" id="store-lowerb">
                </div>
                {% endif %}

                {% if group[0].base_id.startswith("F") %}
                <div class="store" id="store-feet">
                </div>
                {% endif %}

                {% if group[0].base_id.startswith("M") %}
                <div class="store" id="store-misc">
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="purchase-store" class="popup">
        <div class="purchase-confirm">
            <p id="confirm-text">Would you like to buy this item?</p>
            <button id="yesButton" class="yes-no">Yes</button>
            <button id="noButton" class="yes-no" onclick="closeModal()">No</button>
        </div>
    </div>

    <a href="{{url_for('logout')}}">Press here to logout</a>
</body>
</html>