<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> 
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <title>Store</title>
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Still.png') }}" id="img-still" width="60%">
        <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Hover.png') }}" id="img-hover" width="60%">
    </div>
    <nav>
        <span id="navicon" onclick="openNav()">&#9776</span>
        <div id="mainnav" class="navbar">
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('forums')}}">Forums</a>
            <a href="{{url_for('adopt')}}">Adopt</a>
            <a href="{{url_for('minigames')}}">Mini Games</a>
            <a href="{{url_for('store')}}">Store</a>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
        <div id="sidenav" class="sidenav">    
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('forums')}}">Forums</a>
            <a href="{{url_for('adopt')}}">Adopt</a>
            <a href="{{url_for('minigames')}}">Mini Games</a>
            <a href="{{url_for('store')}}">Store</a>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
    </nav>
    <h1>This is store page.</h1>
    <a href="{{url_for('logout')}}">Press here to logout</a>
</body>
</html>