<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/store.css') }}"> 
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <title>Store</title>
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Still.png') }}" id="img-still" width="60%">
        <img src="{{ url_for('static', filename='assets/logo/Lamopets_Logo_Hover.png') }}" id="img-hover" width="60%">
    </div>

    <h2 class="currency-position">
        <img src="{{ url_for('static', filename='assets/Lamocoins.png') }}" id="coin">
        {{ current_user.currency_balance }}
    </h2>

    <nav>
        <span id="navicon" onclick="openNav()">&#9776</span>
        <div id="mainnav" class="navbar">
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('forums')}}">Chats</a>
            <a href="{{url_for('adopt')}}">Adopt</a>
            <a href="{{url_for('minigames')}}">Mini Games</a>
            <a href="{{url_for('store')}}">Store</a>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
        <div id="sidenav" class="sidenav">    
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{url_for('home')}}" class="split">Home</a>
            <a href="{{url_for('forums')}}">Chats</a>
            <a href="{{url_for('adopt')}}">Adopt</a>
            <a href="{{url_for('minigames')}}">Mini Games</a>
            <a href="{{url_for('store')}}">Store</a>
            <a href="{{url_for('profile')}}">Profile</a>
        </div>
    </nav>
    <div id="content">
        <div class="container-store">
            <h1 style="text-align: center;">Store</h1>
            <div class="nav-store">
                <a href="#store-head">Head</a>
                <a href="#store-upperb">Upper Body</a>
                <a href="#store-lowerb">Lower Body</a>
                <a href="#store-feet">Feet</a>
                <a href="#store-misc">Misc</a>
            </div>

            <div class="store" id="store-head">
                <div class="item">
                    <img src="{{ url_for('static', filename='assets/test_store.png') }}" id="head1">
                    <p class="item_name">Head1</p>
                    <div>
                        <button class="colour-options" id="head1-black" data-filter="black"></button>
                        <button class="colour-options" id="head1-blue" data-filter="blue"></button>
                        <button class="colour-options" id="head1-green" data-filter="green"></button>
                    </div>
                    <button class="price">$100</button>
                    <div id="purchase-popup" class="popup">
                        <div class="purchase-confirm">
                            <p>Would you like to buy this for $100?</p>
                            <button id="yesButton" class="yes-no">Yes</button>
                            <button id="noButton"  class="yes-no" onclick="closeModal()">No</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Still.png') }}">
                    <p class="item_name">Head2</p>
                    <button class="price">$100</button>
                    <div id="purchase-popup" class="popup">
                        <div class="purchase-confirm">
                            <p>Would you like to buy this for $100?</p>
                            <button id="yesButton" class="yes-no">Yes</button>
                            <button id="noButton"  class="yes-no" onclick="closeModal()">No</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Still.png') }}">
                    <p class="item_name">Head3</p>
                    <button class="price">$100</button>
                    <div id="purchase-popup" class="popup">
                        <div class="purchase-confirm">
                            <p>Would you like to buy this for $100?</p>
                            <button id="yesButton" class="yes-no">Yes</button>
                            <button id="noButton"  class="yes-no" onclick="closeModal()">No</button>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Still.png') }}">
                    <p class="item_name">Head4</p>
                    <button class="price">$100</button>
                    <div id="purchase-popup" class="popup">
                        <div class="purchase-confirm">
                            <p>Would you like to buy this for $100?</p>
                            <button id="yesButton" class="yes-no">Yes</button>
                            <button id="noButton"  class="yes-no" onclick="closeModal()">No</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="store" id="store-upperb">
                <div class="item">
                    <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Still.png') }}">
                    <p class="item_name">UpperBody1</p>
                    <button class="price">$100</button>
                    <div id="purchase-popup" class="popup">
                        <div class="purchase-confirm">
                            <p>Would you like to buy this for $100?</p>
                            <button id="yesButton" class="yes-no">Yes</button>
                            <button id="noButton"  class="yes-no" onclick="closeModal()">No</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Still.png') }}">
                    <p class="item_name">UpperBody2</p>
                    <button class="price">$100</button>
                    <div id="purchase-popup" class="popup">
                        <div class="purchase-confirm">
                            <p>Would you like to buy this for $100?</p>
                            <button id="yesButton" class="yes-no">Yes</button>
                            <button id="noButton"  class="yes-no" onclick="closeModal()">No</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Still.png') }}">
                    <p class="item_name">UpperBody3</p>
                    <button class="price">$100</button>
                    <div id="purchase-popup" class="popup">
                        <div class="purchase-confirm">
                            <p>Would you like to buy this for $100?</p>
                            <button id="yesButton" class="yes-no">Yes</button>
                            <button id="noButton"  class="yes-no" onclick="closeModal()">No</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Still.png') }}">
                    <p class="item_name">UpperBody4</p>
                    <button class="price">$100</button>
                    <div id="purchase-popup" class="popup">
                        <div class="purchase-confirm">
                            <p>Would you like to buy this for $100?</p>
                            <button id="yesButton" class="yes-no">Yes</button>
                            <button id="noButton"  class="yes-no" onclick="closeModal()">No</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="store" id="store-lowerb">
                <div class="item">
                    <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Still.png') }}">
                    <p class="item_name">LowerBody1</p>
                    <button class="price">$100</button>
                    <div id="purchase-popup" class="popup">
                        <div class="purchase-confirm">
                            <p>Would you like to buy this for $100?</p>
                            <button id="yesButton" class="yes-no">Yes</button>
                            <button id="noButton"  class="yes-no" onclick="closeModal()">No</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Still.png') }}">
                    <p class="item_name">LowerBody2</p>
                    <button class="price">$100</button>
                    <div id="purchase-popup" class="popup">
                        <div class="purchase-confirm">
                            <p>Would you like to buy this for $100?</p>
                            <button id="yesButton" class="yes-no">Yes</button>
                            <button id="noButton"  class="yes-no" onclick="closeModal()">No</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Still.png') }}">
                    <p class="item_name">LowerBody3</p>
                    <button class="price">$100</button>
                    <div id="purchase-popup" class="popup">
                        <div class="purchase-confirm">
                            <p>Would you like to buy this for $100?</p>
                            <button id="yesButton" class="yes-no">Yes</button>
                            <button id="noButton"  class="yes-no" onclick="closeModal()">No</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='assets/Lamopets_Logo_Still.png') }}">
                    <p class="item_name">LowerBody4</p>
                    <button class="price">$100</button>
                    <div id="purchase-popup" class="popup">
                        <div class="purchase-confirm">
                            <p>Would you like to buy this for $100?</p>
                            <button id="yesButton" class="yes-no">Yes</button>
                            <button id="noButton"  class="yes-no" onclick="closeModal()">No</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="store" id="store-feet">
            </div>

            <div class="store" id="store-misc">
            </div>
        </div>
    </div>
    <a href="{{url_for('logout')}}">Press here to logout</a>
</body>
</html>
