<!-- {% extends "base.html" %}{% block title %}Home{% endblock %}
{% block content %} -->
<head>
    <title>Store</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="base.html" class="split">Home</a>
            <a href="forums.html">Forums</a>
            <a href="adopt.html">Adopt</a>
            <a href="minigames.html">Mini Games</a>
            <a href="store.html">Store</a>
            <a href="profile.html">Profile</a>
        </div>
    </nav>
    <h1>This is the store page!</h1>
</body>
<!-- {% endblock %} -->