body {
    background-color: aquamarine;
    text-align: center;
}

img {
    width: 20%;
    text-align: center;
}

/* .logo img {
    position: absolute;
    width: 20%;
    transition: 0.3s;
}

.logo #img-1:hover {
    opacity: 0;
    cursor: pointer;
} */

.navbar {
    background-color: #FFA07A;
    overflow: hidden;
    border: 4px solid #F0E68C; 
    margin-left: 50px;
    margin-right: 50px;
}

.navbar a {
    border-left: 4px solid #F0E68C;
    float: right;
    color: #F0E68C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #F0E68C;
    color: #FFA07A;
}

.navbar a.split {
    float: left;
    background-color: #F0E68C;
    color: #FFA07A;
    border-left: 0px;
}

.container {
    background: #fffffe;
    height: 60vh;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (4, 1fr);
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.container div {
    background: rgb(198, 248, 224);
    padding: 10px;
}

.content-large {
    background: rgb(198, 248, 224);
    padding: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

ul.no-bullets {
    list-style-type: none;
    margin-bottom: -60px;
    padding: 0;
}

#content-2 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}